@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/styles/loader.css";

#dapp-modal {
  color: black;
  z-index: 9999
}

.dapp-core-component__transactionsToastList-styles__toasts {
  color: black
}


.swal2-container {
  z-index: 9999 !important;
}

.bordered-box {
  border-radius: 35px;
  padding: 25px 15px;
  margin: 40px 0;
  box-shadow: 0px 0px 20px 0px #eee;
}